.edit {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  &__btnPrev {
    background: transparent;
    color: #f7f7f7;
    font-size: 16px;
    border: 2px solid #6c63ff;
    border-radius: 5px;
  }

  &__container {
    min-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #6c63ff;
    border-radius: 5px;
  }

  &__title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__formGroup {
    margin-bottom: 20px;
  }

  &__label {
    display: block;
    margin-bottom: 10px;
    font-weight: 500;
  }

  &__input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
  }

  &__button {
    padding: 15px;
    background-color: #6c63ff;
    color: #F7F7F7;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;

    &:hover {
      background-color: #5853b5;
    }
  }

  &__error {
    color: red;
    margin-bottom: 10px;
    text-align: center;
  }
}

