.filter {
  position: relative;
  &__btnFilter {
    background-color: #6c63ff;
    border: none;
    border-radius: 5px;
  }
}

.dropdown {
  position: absolute;
  top: 110%;
  left: 0;
  &__btn {
    display: block;
    width: 100%;
    background-color: #b1adf0;
  
    &:hover {
      background-color: #6c63ff;
    }
  }
}
