.taskPage {
  margin-top: 50px;

  &__top {
    margin-bottom: 40px;
    display: flex;
    gap: 40px;
  }

  &__btnPrev {
    background: transparent;
    color: #F7F7F7;
    font-size: 16px;
    border: 2px solid #6c63ff;
    border-radius: 5px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
